.top_section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  font-weight: bolder;
  color: #FFFFFF;
  background-color: #FC5757;
}

.choice_section {
  height: 100vh;
  width: 100%;
  display: flex;
}

.round_F_section {
  height: 100vh;
  width: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.Key_ex_section {
  height: 100vh;
  width: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 4rem;
}

.AES_container {
  background-color: #464241;
  padding: 1rem;
  border-radius: 1rem;
}